## Student Performance Exploratory Data Analysis
**Authors:** Nick Romano and Trevor McCormick  
**Version 1.0**  
**Spring 2022 DS160-01: Introduction to Data Science**  


---

The data used for this notebook is from the Student Performance dataset in the UCI Machine Learning Repository. Link: <a href="https://archive-beta.ics.uci.edu/ml/datasets/student+performance?">Link to Dataset</a>

**Citation:**  
Cortez, Paulo. (2014). Student Performance. UCI Machine Learning Repository.
   
   
---

### Reading and Merging Datasets

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_math = pd.read_csv('student-mat.csv', sep=';')
df_portuguese = pd.read_csv('student-por.csv', sep=';')

In [3]:
df_math

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [4]:
df_math.insert(0, "subject", "Mathematics")

In [5]:
df_portuguese

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [6]:
df_portuguese.insert(0, "subject", "Portuguese")

In [7]:
df_math.columns

Index(['subject', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [8]:
df_math.dtypes

subject       object
school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [9]:
df_portuguese.columns

Index(['subject', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [10]:
df_portuguese.dtypes

subject       object
school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [11]:
#Checking to see if the columns and dtypes are the same, so that we can merge the two data sets
column_check = df_math.columns == df_portuguese.columns
dtypes_check = df_math.dtypes == df_portuguese.dtypes

print(f"Same Columns: {all(column_check)}")
print(f"Same dtypes: {all(dtypes_check)}")

Same Columns: True
Same dtypes: True

In [12]:
df = pd.DataFrame().append([df_math, df_portuguese], ignore_index=True)

### Processing and Cleaning Dataframe

In [13]:
df

,subject,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,Mathematics,GP,F,18,U,GT3,A,4,4,at_home,...,4,3,4,1,1,3,6,5,6,6
1,Mathematics,GP,F,17,U,GT3,T,1,1,at_home,...,5,3,3,1,1,3,4,5,5,6
2,Mathematics,GP,F,15,U,LE3,T,1,1,at_home,...,4,3,2,2,3,3,10,7,8,10
3,Mathematics,GP,F,15,U,GT3,T,4,2,health,...,3,2,2,1,1,5,2,15,14,15
4,Mathematics,GP,F,16,U,GT3,T,3,3,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,Portuguese,MS,F,19,R,GT3,T,2,3,services,...,5,4,2,1,2,5,4,10,11,10
1040,Portuguese,MS,F,18,U,LE3,T,3,1,teacher,...,4,3,4,1,1,1,4,15,15,16
1041,Portuguese,MS,F,18,U,GT3,T,1,1,other,...,1,1,1,1,1,5,6,11,12,9
1042,Portuguese,MS,M,17,U,LE3,T,3,1,services,...,2,4,5,3,4,2,6,10,10,10
1043,Portuguese,MS,M,18,R,LE3,T,3,2,services,...,4,4,1,3,4,5,4,10,11,11

On the student.txt file that came along with the data, it explains that there are 382 students that are included in both datasets that we merged. We decided to drop the duplicated copy of the student and just focus on the unique set of students in the dataset.

In [14]:
df.drop_duplicates(["school","sex","age","address","famsize","Pstatus",
                    "Medu","Fedu","Mjob","Fjob","reason","nursery","internet"], 
                   ignore_index=True, inplace=True)

In [15]:
df

,subject,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,Mathematics,GP,F,18,U,GT3,A,4,4,at_home,...,4,3,4,1,1,3,6,5,6,6
1,Mathematics,GP,F,17,U,GT3,T,1,1,at_home,...,5,3,3,1,1,3,4,5,5,6
2,Mathematics,GP,F,15,U,LE3,T,1,1,at_home,...,4,3,2,2,3,3,10,7,8,10
3,Mathematics,GP,F,15,U,GT3,T,4,2,health,...,3,2,2,1,1,5,2,15,14,15
4,Mathematics,GP,F,16,U,GT3,T,3,3,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,Portuguese,MS,F,19,R,GT3,A,1,1,at_home,...,3,5,4,1,4,1,0,8,0,0
658,Portuguese,MS,F,18,R,GT3,T,2,2,services,...,4,2,1,1,1,4,5,14,14,15
659,Portuguese,MS,F,18,R,LE3,A,1,2,at_home,...,4,3,4,1,4,5,0,16,15,15
660,Portuguese,MS,F,19,R,GT3,T,1,1,at_home,...,4,3,3,1,1,3,4,7,8,9
661,Portuguese,MS,F,17,U,GT3,T,4,3,teacher,...,5,5,4,1,1,1,0,6,9,11

In [16]:
school_names = {"GP":"Gabriel Pereira",
                "MS":"Mousinho da Silveira"}

def school_conversion(x):
    return school_names.get(x)

df.school = df.school.map(school_conversion)

In [17]:
address_types = {"U":"Urban",
                 "R":"Rural"}

def address_conversion(x):
    return address_types.get(x)

df.address = df.address.map(address_conversion)

In [18]:
Pstatus_types = {"A":"Living Apart",
                 "T":"Living Together"}

def pstatus_conversion(x):
    return Pstatus_types.get(x)

df.Pstatus = df.Pstatus.map(pstatus_conversion)

In [19]:
df.columns

Index(['subject', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

Dropped a few columns from the data set that we felt wasn't as necessary as some of the other columns. Also renamed a few columns that we kept for some clarity when working with the data.

In [20]:
df.drop(columns=["Mjob", "Fjob", "guardian", "romantic", "nursery", "famsize", "reason"], axis=1, inplace=True)

In [21]:
df.rename({"Medu":"M_edu", "Fedu":"F_edu", "Dalc":"weekday_alc", "Walc":"weekend_alc", 
           "G1":"period1_grade", "G2":"period2_grade", "G3":"final_grade"}, axis=1, inplace=True)

In [22]:
df.columns

Index(['subject', 'school', 'sex', 'age', 'address', 'Pstatus', 'M_edu',
       'F_edu', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup',
       'paid', 'activities', 'higher', 'internet', 'famrel', 'freetime',
       'goout', 'weekday_alc', 'weekend_alc', 'health', 'absences',
       'period1_grade', 'period2_grade', 'final_grade'],
      dtype='object')

### Dataset Description

In [23]:
df

,subject,school,sex,age,address,Pstatus,M_edu,F_edu,traveltime,studytime,...,famrel,freetime,goout,weekday_alc,weekend_alc,health,absences,period1_grade,period2_grade,final_grade
0,Mathematics,Gabriel Pereira,F,18,Urban,Living Apart,4,4,2,2,...,4,3,4,1,1,3,6,5,6,6
1,Mathematics,Gabriel Pereira,F,17,Urban,Living Together,1,1,1,2,...,5,3,3,1,1,3,4,5,5,6
2,Mathematics,Gabriel Pereira,F,15,Urban,Living Together,1,1,1,2,...,4,3,2,2,3,3,10,7,8,10
3,Mathematics,Gabriel Pereira,F,15,Urban,Living Together,4,2,1,3,...,3,2,2,1,1,5,2,15,14,15
4,Mathematics,Gabriel Pereira,F,16,Urban,Living Together,3,3,1,2,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,Portuguese,Mousinho da Silveira,F,19,Rural,Living Apart,1,1,2,2,...,3,5,4,1,4,1,0,8,0,0
658,Portuguese,Mousinho da Silveira,F,18,Rural,Living Together,2,2,2,3,...,4,2,1,1,1,4,5,14,14,15
659,Portuguese,Mousinho da Silveira,F,18,Rural,Living Apart,1,2,3,2,...,4,3,4,1,4,5,0,16,15,15
660,Portuguese,Mousinho da Silveira,F,19,Rural,Living Together,1,1,2,2,...,4,3,3,1,1,3,4,7,8,9
661,Portuguese,Mousinho da Silveira,F,17,Urban,Living Together,4,3,2,2,...,5,5,4,1,1,1,0,6,9,11

In [24]:
df.shape

(662, 27)

Creating a function to check for missing values for a given column, then using a for loop to return the missing values for each of the columns

In [25]:
def missing_values(column):
    na_values = df[column].isna().sum()
    return na_values

In [26]:
for i in df.columns:
    print(f"Column name: {i}")
    print(f"Missing values: {missing_values(i)} \n")

Column name: subject
Missing values: 0

Column name: school
Missing values: 0

Column name: sex
Missing values: 0

Column name: age
Missing values: 0

Column name: address
Missing values: 0

Column name: Pstatus
Missing values: 0

Column name: M_edu
Missing values: 0

Column name: F_edu
Missing values: 0

Column name: traveltime
Missing values: 0

Column name: studytime
Missing values: 0

Column name: failures
Missing values: 0

Column name: schoolsup
Missing values: 0

Column name: famsup
Missing values: 0

Column name: paid
Missing values: 0

Column name: activities
Missing values: 0

Column name: higher
Missing values: 0

Column name: internet
Missing values: 0

Column name: famrel
Missing values: 0

Column name: freetime
Missing values: 0

Column name: goout
Missing values: 0

Column name: weekday_alc
Missing values: 0

Column name: weekend_alc
Missing values: 0

Column name: health
Missing values: 0

Column name: absences
Missing values: 0

Column name: period1_grade
Missing values: 0

Column name: period2_grade
Missing values: 0

Column name: final_grade
Missing values: 0

**Column data types and missing data**

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 662 entries, 0 to 661
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   subject        662 non-null    object
 1   school         662 non-null    object
 2   sex            662 non-null    object
 3   age            662 non-null    int64
 4   address        662 non-null    object
 5   Pstatus        662 non-null    object
 6   M_edu          662 non-null    int64
 7   F_edu          662 non-null    int64
 8   traveltime     662 non-null    int64
 9   studytime      662 non-null    int64
 10  failures       662 non-null    int64
 11  schoolsup      662 non-null    object
 12  famsup         662 non-null    object
 13  paid           662 non-null    object
 14  activities     662 non-null    object
 15  higher         662 non-null    object
 16  internet       662 non-null    object
 17  famrel         662 non-null    int64
 18  freetime       662 non-null    int64
 19  goout          662 non-null    int64
 20  weekday_alc    662 non-null    int64
 21  weekend_alc    662 non-null    int64
 22  health         662 non-null    int64
 23  absences       662 non-null    int64
 24  period1_grade  662 non-null    int64
 25  period2_grade  662 non-null    int64
 26  final_grade    662 non-null    int64
dtypes: int64(16), object(11)
memory usage: 139.8+ KB

### Summary Statistics

**Summary statistics of the continuous data within the dataset.**

In [28]:
continuous_columns = df[["age", "failures", "absences", "period1_grade", "period2_grade", "final_grade"]]
continuous_columns.describe().T

               count       mean       std   min   25%   50%   75%   max
age            662.0  16.812689  1.269194  15.0  16.0  17.0  18.0  22.0
failures       662.0   0.332326  0.716024   0.0   0.0   0.0   0.0   3.0
absences       662.0   4.930514  6.858060   0.0   0.0   3.0   8.0  75.0
period1_grade  662.0  10.728097  3.082098   3.0   8.0  10.0  13.0  19.0
period2_grade  662.0  10.708459  3.529588   0.0   9.0  11.0  13.0  19.0
final_grade    662.0  10.725076  4.106738   0.0   9.0  11.0  13.0  20.0

**Value frequency and proportions of the categorical data.**

In [29]:
def value_frequency(column):
    frequency = df[column].value_counts().sort_index()
    return frequency

def value_proportions(column):
    proportions = df[column].value_counts(normalize=True).sort_index()
    return proportions

In [30]:
categorical_columns = df[["subject", "school", "sex", "address", "Pstatus", "M_edu", "F_edu", 
                            "traveltime", "studytime", "schoolsup", "famsup", "paid",
                            "activities", "higher", "internet", "famrel", "freetime", "goout",
                            "weekday_alc", "weekend_alc", "health"]]

for i in categorical_columns:
    print(f"Column name: {i}")
    print(f"Number of values: {df[i].count()} \n")
    print("Value_frequencies")
    print(f"{value_frequency(i)} \n")
    print("Value_proportions")
    print(f"{value_proportions(i)} \n")
    print("-------------------------------")

Column name: subject
Number of values: 662

Value_frequencies
Mathematics    391
Portuguese     271
Name: subject, dtype: int64

Value_proportions
Mathematics    0.590634
Portuguese     0.409366
Name: subject, dtype: float64

-------------------------------
Column name: school
Number of values: 662

Value_frequencies
Gabriel Pereira         434
Mousinho da Silveira    228
Name: school, dtype: int64

Value_proportions
Gabriel Pereira         0.655589
Mousinho da Silveira    0.344411
Name: school, dtype: float64

-------------------------------
Column name: sex
Number of values: 662

Value_frequencies
F    390
M    272
Name: sex, dtype: int64

Value_proportions
F    0.589124
M    0.410876
Name: sex, dtype: float64

-------------------------------
Column name: address
Number of values: 662

Value_frequencies
Rural    201
Urban    461
Name: address, dtype: int64

Value_proportions
Rural    0.303625
Urban    0.696375
Name: address, dtype: float64

-------------------------------
Column name: Pstatus
Number of values: 662

Value_frequencies
Living Apart        83
Living Together    579
Name: Pstatus, dtype: int64

Value_proportions
Living Apart       0.125378
Living Together    0.874622
Name: Pstatus, dtype: float64

-------------------------------
Column name: M_edu
Number of values: 662

Value_frequencies
0      6
1    150
2    190
3    144
4    172
Name: M_edu, dtype: int64

Value_proportions
0    0.009063
1    0.226586
2    0.287009
3    0.217523
4    0.259819
Name: M_edu, dtype: float64

-------------------------------
Column name: F_edu
Number of values: 662

Value_frequencies
0      7
1    179
2    216
3    133
4    127
Name: F_edu, dtype: int64

Value_proportions
0    0.010574
1    0.270393
2    0.326284
3    0.200906
4    0.191843
Name: F_edu, dtype: float64

-------------------------------
Column name: traveltime
Number of values: 662

Value_frequencies
1    373
2    220
3     53
4     16
Name: traveltime, dtype: int64

Value_proportions
1    0.563444
2    0.332326
3    0.080060
4    0.024169
Name: traveltime, dtype: float64

-------------------------------
Column name: studytime
Number of values: 662

Value_frequencies
1    217
2    311
3     99
4     35
Name: studytime, dtype: int64

Value_proportions
1    0.327795
2    0.469789
3    0.149547
4    0.052870
Name: studytime, dtype: float64

-------------------------------
Column name: schoolsup
Number of values: 662

Value_frequencies
no     592
yes     70
Name: schoolsup, dtype: int64

Value_proportions
no     0.89426
yes    0.10574
Name: schoolsup, dtype: float64

-------------------------------
Column name: famsup
Number of values: 662

Value_frequencies
no     262
yes    400
Name: famsup, dtype: int64

Value_proportions
no     0.39577
yes    0.60423
Name: famsup, dtype: float64

-------------------------------
Column name: paid
Number of values: 662

Value_frequencies
no     469
yes    193
Name: paid, dtype: int64

Value_proportions
no     0.708459
yes    0.291541
Name: paid, dtype: float64

-------------------------------
Column name: activities
Number of values: 662

Value_frequencies
no     343
yes    319
Name: activities, dtype: int64

Value_proportions
no     0.518127
yes    0.481873
Name: activities, dtype: float64

-------------------------------
Column name: higher
Number of values: 662

Value_frequencies
no      71
yes    591
Name: higher, dtype: int64

Value_proportions
no     0.107251
yes    0.892749
Name: higher, dtype: float64

-------------------------------
Column name: internet
Number of values: 662

Value_frequencies
no     158
yes    504
Name: internet, dtype: int64

Value_proportions
no     0.238671
yes    0.761329
Name: internet, dtype: float64

-------------------------------
Column name: famrel
Number of values: 662

Value_frequencies
1     21
2     29
3    102
4    328
5    182
Name: famrel, dtype: int64

Value_proportions
1    0.031722
2    0.043807
3    0.154079
4    0.495468
5    0.274924
Name: famrel, dtype: float64

-------------------------------
Column name: freetime
Number of values: 662

Value_frequencies
1     47
2    110
3    250
4    184
5     71
Name: freetime, dtype: int64

Value_proportions
1    0.070997
2    0.166163
3    0.377644
4    0.277946
5    0.107251
Name: freetime, dtype: float64

-------------------------------
Column name: goout
Number of values: 662

Value_frequencies
1     48
2    149
3    212
4    147
5    106
Name: goout, dtype: int64

Value_proportions
1    0.072508
2    0.225076
3    0.320242
4    0.222054
5    0.160121
Name: goout, dtype: float64

-------------------------------
Column name: weekday_alc
Number of values: 662

Value_frequencies
1    460
2    122
3     45
4     18
5     17
Name: weekday_alc, dtype: int64

Value_proportions
1    0.694864
2    0.184290
3    0.067976
4    0.027190
5    0.025680
Name: weekday_alc, dtype: float64

-------------------------------
Column name: weekend_alc
Number of values: 662

Value_frequencies
1    255
2    147
3    124
4     90
5     46
Name: weekend_alc, dtype: int64

Value_proportions
1    0.385196
2    0.222054
3    0.187311
4    0.135952
5    0.069486
Name: weekend_alc, dtype: float64

-------------------------------
Column name: health
Number of values: 662

Value_frequencies
1     90
2     78
3    134
4    110
5    250
Name: health, dtype: int64

Value_proportions
1    0.135952
2    0.117825
3    0.202417
4    0.166163
5    0.377644
Name: health, dtype: float64

-------------------------------