## Student Performance Exploratory Data Analysis
**Authors:** Nick Romano and Trevor McCormick  
**Version 1.0**  
**Spring 2022 DS160-01: Introduction to Data Science**  
---

The data used for this notebook is from the Student Performance dataset in the UCI Machine Learning Repository. Link: <a href="https://archive-beta.ics.uci.edu/ml/datasets/student+performance?">Link to Dataset</a>

**Citation:**  
Cortez, Paulo. (2014). Student Performance. UCI Machine Learning Repository.

---

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

**Reading and Merging Datasets**

In [2]:
df_math = pd.read_csv('student-mat.csv', sep=';')
df_portuguese = pd.read_csv('student-por.csv', sep=';')

In [3]:
df_math

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [4]:
df_portuguese

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [5]:
df_math.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [6]:
df_math.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [7]:
df_portuguese.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [8]:
df_portuguese.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [9]:
#Checking to see if the columns and dtypes are the same, so that we can merge the two data sets
column_check = df_math.columns == df_portuguese.columns
dtypes_check = df_math.dtypes == df_portuguese.dtypes

print(f"Same Columns: {all(column_check)}")
print(f"Same dtypes: {all(dtypes_check)}")

Same Columns: True
Same dtypes: True

In [10]:
df = pd.DataFrame().append([df_math, df_portuguese], ignore_index=True)

**Processing and Cleaning Dataframe**

In [11]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
1040,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
1041,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
1042,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
1043,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

On the student.txt file that came along with the data, it explains that there are 382 students that are included in both datasets that we merged. We decided to drop the duplicated copy of the student and just focus on the unique set of students in the dataset.

In [12]:
df.drop_duplicates(["school","sex","age","address","famsize","Pstatus",
                    "Medu","Fedu","Mjob","Fjob","reason","nursery","internet"], 
                   ignore_index=True, inplace=True)

In [13]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,MS,F,19,R,GT3,A,1,1,at_home,at_home,...,3,5,4,1,4,1,0,8,0,0
658,MS,F,18,R,GT3,T,2,2,services,other,...,4,2,1,1,1,4,5,14,14,15
659,MS,F,18,R,LE3,A,1,2,at_home,other,...,4,3,4,1,4,5,0,16,15,15
660,MS,F,19,R,GT3,T,1,1,at_home,other,...,4,3,3,1,1,3,4,7,8,9
661,MS,F,17,U,GT3,T,4,3,teacher,other,...,5,5,4,1,1,1,0,6,9,11

In [14]:
school_names = {"GP":"Gabriel Pereira",
                "MS":"Mousinho da Silveira"}

def school_conversion(x):
    return school_names.get(x)

df.school = df.school.map(school_conversion)

In [15]:
address_types = {"U":"Urban",
                 "R":"Rural"}

def address_conversion(x):
    return address_types.get(x)

df.address = df.address.map(address_conversion)

In [16]:
Pstatus_types = {"A":"Living Apart",
                 "T":"Living Together"}

def pstatus_conversion(x):
    return Pstatus_types.get(x)

df.Pstatus = df.Pstatus.map(pstatus_conversion)

In [17]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [18]:
df.drop(columns=["Mjob", "Fjob", "guardian", "romantic", "nursery", "famsize", "reason"], axis=1, inplace=True)

In [19]:
df.rename({"Medu":"M_edu", "Fedu":"F_edu", "Dalc":"weekday_alc", "Walc":"weekend_alc", 
           "G1":"period1_grade", "G2":"period2_grade", "G3":"final_grade"}, axis=1, inplace=True)

In [20]:
df.columns

Index(['school', 'sex', 'age', 'address', 'Pstatus', 'M_edu', 'F_edu',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'higher', 'internet', 'famrel', 'freetime', 'goout',
       'weekday_alc', 'weekend_alc', 'health', 'absences', 'period1_grade',
       'period2_grade', 'final_grade'],
      dtype='object')

    
**Column Data**

In [40]:
def missing_values(column):
    print(f"Column name: {column}")
    na_values = df[column].isna().sum()
    print(f"NA values for {column} column: {na_values}")
    null_values = df[column].isnull().sum()
    print(f"Null values for {column} column: {na_values}")
    print("===============================\n")

In [41]:
missing_values('school')
missing_values('sex')
missing_values('age')
missing_values('address')
missing_values('Pstatus')
missing_values('M_edu')
missing_values('F_edu')
missing_values('traveltime')
missing_values('studytime')
missing_values('failures')
missing_values('schoolsup')
missing_values('famsup')
missing_values('paid')
missing_values('activities')
missing_values('higher')
missing_values('internet')
missing_values('famrel')
missing_values('freetime')
missing_values('goout')
missing_values('weekday_alc')
missing_values('weekend_alc')
missing_values('health')
missing_values('absences')
missing_values('period1_grade')
missing_values('period2_grade')
missing_values('final_grade')

Column name: school
NA values for school column: 0
Null values for school column: 0
===============================

Column name: sex
NA values for sex column: 0
Null values for sex column: 0
===============================

Column name: age
NA values for age column: 0
Null values for age column: 0
===============================

Column name: address
NA values for address column: 0
Null values for address column: 0
===============================

Column name: Pstatus
NA values for Pstatus column: 0
Null values for Pstatus column: 0
===============================

Column name: M_edu
NA values for M_edu column: 0
Null values for M_edu column: 0
===============================

Column name: F_edu
NA values for F_edu column: 0
Null values for F_edu column: 0
===============================

Column name: traveltime
NA values for traveltime column: 0
Null values for traveltime column: 0
===============================

Column name: studytime
NA values for studytime column: 0
Null values for studytime column: 0
===============================

Column name: failures
NA values for failures column: 0
Null values for failures column: 0
===============================

Column name: schoolsup
NA values for schoolsup column: 0
Null values for schoolsup column: 0
===============================

Column name: famsup
NA values for famsup column: 0
Null values for famsup column: 0
===============================

Column name: paid
NA values for paid column: 0
Null values for paid column: 0
===============================

Column name: activities
NA values for activities column: 0
Null values for activities column: 0
===============================

Column name: higher
NA values for higher column: 0
Null values for higher column: 0
===============================

Column name: internet
NA values for internet column: 0
Null values for internet column: 0
===============================

Column name: famrel
NA values for famrel column: 0
Null values for famrel column: 0
===============================

Column name: freetime
NA values for freetime column: 0
Null values for freetime column: 0
===============================

Column name: goout
NA values for goout column: 0
Null values for goout column: 0
===============================

Column name: weekday_alc
NA values for weekday_alc column: 0
Null values for weekday_alc column: 0
===============================

Column name: weekend_alc
NA values for weekend_alc column: 0
Null values for weekend_alc column: 0
===============================

Column name: health
NA values for health column: 0
Null values for health column: 0
===============================

Column name: absences
NA values for absences column: 0
Null values for absences column: 0
===============================

Column name: period1_grade
NA values for period1_grade column: 0
Null values for period1_grade column: 0
===============================

Column name: period2_grade
NA values for period2_grade column: 0
Null values for period2_grade column: 0
===============================

Column name: final_grade
NA values for final_grade column: 0
Null values for final_grade column: 0
===============================

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 662 entries, 0 to 661
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   school         662 non-null    object
 1   sex            662 non-null    object
 2   age            662 non-null    int64
 3   address        662 non-null    object
 4   Pstatus        662 non-null    object
 5   M_edu          662 non-null    int64
 6   F_edu          662 non-null    int64
 7   traveltime     662 non-null    int64
 8   studytime      662 non-null    int64
 9   failures       662 non-null    int64
 10  schoolsup      662 non-null    object
 11  famsup         662 non-null    object
 12  paid           662 non-null    object
 13  activities     662 non-null    object
 14  higher         662 non-null    object
 15  internet       662 non-null    object
 16  famrel         662 non-null    int64
 17  freetime       662 non-null    int64
 18  goout          662 non-null    int64
 19  weekday_alc    662 non-null    int64
 20  weekend_alc    662 non-null    int64
 21  health         662 non-null    int64
 22  absences       662 non-null    int64
 23  period1_grade  662 non-null    int64
 24  period2_grade  662 non-null    int64
 25  final_grade    662 non-null    int64
dtypes: int64(16), object(10)
memory usage: 134.6+ KB

In [53]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000,662.000000
mean,16.812689,2.492447,2.293051,1.564955,1.927492,0.332326,3.938066,3.184290,3.172205,1.504532,2.282477,3.531722,4.930514,10.728097,10.708459,10.725076
std,1.269194,1.130958,1.094027,0.742799,0.827405,0.716024,0.941930,1.060583,1.161907,0.926567,1.290121,1.434835,6.858060,3.082098,3.529588,4.106738
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,8.000000,9.000000,9.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,3.000000,10.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,13.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000